.detail {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  /* min-width: fit-content;
  width: 30%; */
  min-width: 30%;
  /* max-width: 30%; */
  /* flex-basis: 15rem; */

  /* flex-basis: auto; default value */
  /* flex-grow: 1; */

  /* flex: 1 1 15rem; */

  /* flex: 0 0 33%; */
  /* min-width: 33%; */
  /* padding-right: 1.5rem; */
  margin: 10px;
}

.details {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;

  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); */
  /* display: grid; */
  margin: -10px;
}

.detail > .name {
  flex-grow: 1;
}

.title {
  display: flex;
}
/* .title:first-child {
  flex: 1;
} */
.title h3 {
  margin: 1rem 0;
}

.value:first-child h3 {
  margin-top: 0;
}
